<%- include partials/header %>
<%- include partials/main_nav %>
   

<main class="container">
  <div class="jumbotron p-4">
    <div class="row">
      <div class="col-7 d-flex align-items-center">
        <!-- Project Description-->
        <%if(project=="dungeoncrawler"){%>
        <%- include partials/projects/dungeoncrawler %>
        <% } else if (project=="bomberman") { %>
        <%- include partials/projects/bomberman %>
        <% } else if (project=="conquer") { %>
        <%- include partials/projects/conquer %>
        <% } else { %> 
          <p>
            Click on a project to hear more about it! 
          </p>
        <% } %>
      </div>
      <div class="col-5">
        <!-- Project Images -->
        <div class="row">
          <div class="col-12">
            <a href="/conquer">
              <img class="w-50 mw-50 project-image <%= (project=='conquer') ? 'project-image-selected' : '' %>" src="/images/conquer.png" />
            </a>
          </div>          
        </div>
        <div class="row pt-2">
          <div class="col-12">
            <a href="/dungeoncrawler">
              <img class="w-50 mw-50 project-image <%= (project=='dungeoncrawler') ? 'project-image-selected' : '' %>" src="/images/cc3k.png" />
            </a>
          </div>          
        </div>
        <div class="row pt-2" >
          <div class="col-12">
            <a href="/bomberman">
              <img class="w-50 mw-50 project-image <%= (project=='bomberman') ? 'project-image-selected' : '' %>" src="/images/bomberman.png" />
            </a>
          </div>          
        </div>
      </div>
    </div>
  </div>
</main>
   

<!--bottom nav-->

<!--script section-->
<%- include partials/bottom_nav %>
<%- include partials/footer %>
   