<%- include partials/header %>
<%- include partials/main_nav %>
   

<main class="container">
  <div class="jumbotron p-4">
    <div class="row">
      <div class="col-7 d-flex align-items-center">
        <%if(project=="dungeoncrawler"){%>
        <%- include partials/projects/dungeoncrawler %>
        <% } else if (project=="bomberman") { %>
        <%- include partials/projects/bomberman %>
        <% } else if (project=="conquer") { %>
        <%- include partials/projects/conquer %>
        <% } else { %> 
          <p>
            dis the default text if nothing found
          </p>
        <% } %>
      </div>
      <div class="col-5">
        <div class="row">
          <div class="col-12">
            <a href="/conquer">
              <img class="w-50 mw-50 project-image <%= (project=='conquer') ? 'project-image-selected' : '' %>" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg/1200px-Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg" />
            </a>
          </div>          
        </div>
        <div class="row pt-2">
          <div class="col-12">
            <a href="/dungeoncrawler">
              <img class="w-50 mw-50 project-image <%= (project=='dungeoncrawler') ? 'project-image-selected' : '' %>" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg/1200px-Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg" />
            </a>
          </div>          
        </div>
        <div class="row pt-2" >
          <div class="col-12">
            <a href="/bomberman">
              <img class="w-50 mw-50 project-image <%= (project=='bomberman') ? 'project-image-selected' : '' %>" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg/1200px-Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg" />
            </a>
          </div>          
        </div>
      </div>
    </div>
  </div>
</main>
   

<!--bottom nav-->

<!--script section-->
<%- include partials/bottom_nav %>
<%- include partials/footer %>
   